/* all properties */
/* @import url('https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans&display=swap'); */

* {
    /* background-color: 2px solid rgba(0, 128, 0, 0.404); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* root variables  */
:root {
    /* colors  */
    --primary-green: #82CD47;
    --secondary-blue: #12C1D9;
    --primary-black: rgb(5, 9, 2);
    --primary-black-75: rgba(5, 9, 2, 0.75);
    --primary-black-50: rgba(5, 9, 2, 0.50);
    --primary-black-25: rgba(5, 9, 2, 0.25);
    --primary-black-10: rgba(5, 9, 2, 0.10);

    /* fonts */
    --primary-font: 'Days One', sans-serif;
    --secondary-font: 'Noto Sans', sans-serif;
}







/* code for main container 
##################################################### */
.maincontainer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    /* border: 2px solid purple; */
}

/* code for to stats bar 
####################################################33 */
.userInfo {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid red; */
    width: 100vw;
    height: 40vh;
    background-color: white;
    z-index: 200;
    display: grid;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.stats-maincontainer {
    margin-left: 1.5rem;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.broombg {
    position: absolute;
    right: -27%;
    top: 4%;
    z-index: -1;
    transform-origin: top;
    animation: broom 3s infinite linear;
    opacity: 0.35;

}


.userDP-stats {
    width: 3rem !important;
    height: 3rem !important;
}

.stats-crossbtn {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
}

.userInfo h1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36.8537px;
    line-height: 50px;

    /* primary black */

    color: #050902;
}

.userInfo h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.0915px;
    line-height: 21px;
    /* identical to box height */


    /* black 75 */

    color: rgba(5, 9, 2, 0.75);
}

.lowersection {
    display: grid;
    gap: 0.4rem;

}

.gamepoints,
.plasticDecomposed {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: flex-start;
}

.gamepoints_texts {
    display: grid;
}

.gamepoints_texts p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.0915px;
    line-height: 21px;

    /* primary black */

    color: #050902;
}

.points {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px !important;
    line-height: 10px !important;

    /* black 75 */

    color: rgba(5, 9, 2, 0.75) !important;
}

.gamestat_progressbar {
    width: 165px;
    height: 11px;
    background: #D9D9D9;
}

.progressbar_progress {
    height: 100%;
    width: 41.6666666667%;
    background: #EFC348;
}

/* code for top navigation 
#################################################### */
.top-navigation {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem 0.5rem;
    position: sticky;
    top: 0;
}

/* container for logo */
.top-navigation .left-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.top-navigation .left-logo h2 {
    font-family: var(--primary-font);
    color: var(--primary-black-75);
    font-size: 1.375rem;

}


.top-navigation .left-logo img {
    width: 1.875rem;
    /* border: 2px solid red; */
}

.userDP {
    width: 2.3rem;
    height: 2.3rem;
    /* height: 1rem; */
    /* border: 2px solid red; */
    /* background-color: yellow; */
    background: url("../../assets/users/user-image.jpg");
    background-size: cover;
    border-radius: 50%;
    /* border: 2px solid red; */
}



/* user icon */
.user-img {}


/* code for weather card 
############################################# */
.home-weather {
    /* margin-top: 1rem; */
    display: flex;
    overflow: hidden;

    align-items: center;
    justify-content: center;
    width: 95%;
    background: linear-gradient(109.93deg, #FDA085 7.15%, #F6D365 92.49%);
    border-radius: 27px;
    /* width: 371px; */
    height: 14.4375rem;


    filter: drop-shadow(0px 120px 48px rgba(0, 0, 0, 0.03)) drop-shadow(0px 67px 40px rgba(0, 0, 0, 0.09)) drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.15)) drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.18)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.18));
}

/* code for left text  */

.home-weather .weather-left-information {
    display: grid;
    /* border: 2px solid red; */
    width: 100%;
    height: 90%;
    padding: 8px 16px;
}

/* code for city name  */
.home-weather .weather-left-information h1 {
    font-family: var(--primary-font);
    mix-blend-mode: overlay;
    font-style: normal;
    font-weight: 400;
    font-size: 3.8rem;
    margin-bottom: -0.8rem;
    /* line-height: 81px; */
    /* identical to box height */


    color: #000000;

}

.home-weather .weather-left-information .info p {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--primary-black-75);
}

.city-png {
    position: absolute;
    /* border: 2px solid red; */
    right: 0;
    height: 100%;
    width: 50%;
    transform: translateY(5%);
    background-size: cover;
    background-image: url("../../assets/weather/cities/jaipur.png");
}


/* code for swiper slide
#####################################  */
.swiper {
    /* border: 2px solid red; */
    width: 95%;
    height: 200px;
    overflow: visible !important;
}

.swiper-slide {
    border-radius: 27px;
    text-align: center;
    font-size: 18px;
    height: 14.4375rem;
    width: 65% !important;

    /* background-color: purple; */
    box-shadow: 0px 96px 38px rgba(0, 0, 0, 0.02), 0px 54px 32px rgba(0, 0, 0, 0.07), 0px 24px 24px rgba(0, 0, 0, 0.12), 0px 6px 13px rgba(0, 0, 0, 0.14), 0px 0px 0px rgba(0, 0, 0, 0.14);
    border-radius: 27px;
    /* background: #fff; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.swiper-slide-maincontainer {
    /* border: 2px solid red; */
    position: absolute;
    top: 10%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}

.collected-plastic {
    background: linear-gradient(142.53deg, #667EEA -10.74%, #764BA2 93%);

}

.swiper-headings-and-numberdata {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    mix-blend-mode: overlay;

}

.swiper-headings {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12.3241px;
    line-height: 35px;
    text-align: left;

    color: rgba(0, 0, 0, 0.55);
    mix-blend-mode: overlay;

}

.swiper-headings-and-numberdata>h1 {
    text-align: left;

    color: rgba(0, 0, 0, 0.85);

}

.centers-near-you {
    background: linear-gradient(140.82deg, #0BA360 -4.9%, #3CBA92 113.84%);
}

.swiper-image {
    position: absolute;
    top: 45%;
    left: 45%;
}

.centers-swiper-image {
    top: 35%;
    left: 35%;
}

/* code for dock 
###################################### */
.dock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: white;
    position: fixed;
    bottom: 0;
    /* height: 20%; */
    width: 100%;
    z-index: 20;
    gap: 1rem;
    padding-top: 10px;
    transition: all 0.3s ease-out;
}

.uparrow {
    transform-origin: center;
    transition: all 0.3s ease-out;

}

.scan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 27.6522px;
    /* height: 60%; */
    /* width: 60%; */
    /* gap: 40.84px; */



    background: #12C1D9;
    box-shadow: 0px 48px 19px rgba(0, 0, 0, 0.02), 0px 27px 16px rgba(0, 0, 0, 0.07), 0px 12px 12px rgba(0, 0, 0, 0.12), 0px 3px 7px rgba(0, 0, 0, 0.14), 0px 0px 0px rgba(0, 0, 0, 0.14);
    border-radius: 100%;
}

.or {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-black-50);
    margin-bottom: 1rem;
}

.line {
    border: 1px solid var(--primary-black-25);
    width: 40px;
    margin: 0rem 0.5rem;
    height: 1px;
}

.entercodeinput {
    width: 239px;
    height: 47px;
    left: 78px;
    top: 771px;

    background: rgba(217, 217, 217, 0.8);
    border-radius: 17px;
    border: none;
}

.entercodeinput::placeholder {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1rem;
}

.toggleablecontent {
    /* outline: 2px solid green; */
    outline-offset: -2px;
    padding-bottom: 10px;
}

/* code for darkness
#################################### */

.darknessWhenToggle {
    position: absolute;
    top: 0;
    /* border: 2px solid red; */
    height: 100vh;
    z-index: 10;
    width: 100vw;
    background: rgb(0, 0, 0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
}

#scanner {
    top: 0;
    left: 0;
    position: absolute;
    outline: 2px solid black;
    outline-offset: -2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    /* display: block; */

    width: 100vw;
    height: 100vh;
    z-index: 200;

}

button[class="html5-qrcode-element"] {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    border-radius: 27px;
    margin: 1rem;
    background-color: var(--secondary-blue);
    border: none;
    padding: 8px 16px;
}

/* query for preloader 
################################### */
/* query for preloader gif  
####################################################*/


#preloader {
    /* transition: all 2s ease; */
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    /* border: 2px solid yellow; */
    background-color: #fdf4ce;
    /* color: blueviolet; */
    z-index: 10000;
    transition: all 0.5s ease-out;

}

.loadingscreenstuff {
    /* border: 2px solid blue; */
    height: 60vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* display: flex; */
}

.preloader_loader_img {
    height: 20vh;
    /* width: 40vh; */
    position: absolute;


}