.logo {
    position: absolute;
    width: 25%;
    left: 24rem;
    top: 15.732rem;
    z-index: 10;
}
#text {
    position: absolute;
    width: 348px;
    height: 111px;
    left: 13.9rem;
    top: 28.125rem;
z-index: 10;
    font-family: 'Days One';
    font-style: normal;
    font-weight: 800;
    font-size: 80.9761px;
    line-height: 111px;
    color: rgba(5, 9, 2, 0.75);
}
.ID {
    position: absolute;
    width: 55rem;
    height: 5rem;
    left: 3rem;
    top: 56.375rem;
    z-index: 10;
    /* secondary blue */
    background: rgba(195, 196, 197, 0.39);
    /* background: #12C1D9; */
   // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.Password {
    position: absolute;
    width: 55rem;
    height: 5rem;
    left: 3rem;
    top: 67.375rem;
z-index: 10;
    /* secondary blue */
    background: rgba(195, 196, 197, 0.39);
    /* background: #12C1D9; */
   // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.Email{
    position: absolute;
    width: 99px;
    height: 38px;
    left: 3.5rem;
    top: 51.375rem;
z-index: 15;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;
}

.Pass{
    position: absolute;
    width: 99px;
    height: 38px;
    left: 3.5rem;
    top: 62.375rem;
z-index: 15;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;
}
.Remember{
    position: absolute;
    width: 120px;
    height: 38px;
    left: 3.5rem;
    top: 71.375rem;
z-index: 15;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align:center ;
    letter-spacing: 0.01em;

}